.env
venv/
__pycache__/
*.pyc

# Environment & secrets
.env
.env.*
!.env.example

# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# macOS
.DS_Store

# IDE
.vscode/
.idea/


dev.sh